/* Write your CSS here */
.btn {
  background-color: #382f5a;
  color: #d4d2db;
  border-radius: 3px;
  border-style: solid;
  border-color: #c4c4c4;
  border-width: 1px;
  width: 140px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.list {
  margin-bottom: 20px;
}
